@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bree+Serif&display=swap");

.navbar-first{
    margin-left: 10%;
    margin-right: 20%;
}

.navbar-next{
    margin-right: 10%;
}