.minmax {
    min-width : 1150px; 
    max-width : 1150px; 
    min-height: 500px;
}
    .r {
        display: flex;
        font-size: x-small;
    }

    a {
        text-decoration: none;
    }

    .c {
        padding: 1px;
        width: 18px;
        height : 20px;
        margin: 2px;
        text-align: center;
        border: rgb(53, 189, 53);
        border-style: solid;
        border-width: 1px;
        border-radius: 5px;
        
    }

    .c1 {
        padding: 3px;
        width: 20px;
        margin: 3px;
        text-align: center;


    }

    .switch {
        position: relative;
        display: inline-block;
        width: 30px;
        height: 17px;
      }
      
      .switch input { 
        opacity: 0;
        width: 0;
        height: 0;
      }
      
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      .slider:before {
        position: absolute;
        content: "";
        height: 13px;
        width: 13px;
        left: 2px;
        bottom: 2px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      input:checked + .slider {
        background-color: black;
      }
      
      input:focus + .slider {
        box-shadow: 0 0 1px black;
      }
      
      input:checked + .slider:before {
        -webkit-transform: translateX(11px);
        -ms-transform: translateX(11px);
        transform: translateX(13px);
      }
      

      .slider.round {
        border-radius: 17px;
      }
      
      .slider.round:before {
        border-radius: 50%;
      }
      .c:hover {
        cursor: pointer;
    }
    .mini{
      width: auto;
      max-height: 300px;
      min-height: 200px;
    }
    .cardmini{
      max-height: 500px;
    }